<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today's Weather</title>
    <link rel="stylesheet" href="../static/css/signup.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400" rel="stylesheet">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script type="text/javascript"
        src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=639d5ba0fcd020dd1f17e9d015abed9b&libraries=services"></script>
    <script type="text/javascript"
        src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=e2a7192e4eccd0a3b0a172b40564af65"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            function getLocation(position) {

                let latitud = position.coords.latitude;
                let longitude = position.coords.longitude;

                let mapContainer = document.getElementById("map")    // 지도를 표시할 DIV
                let mapOption = {
                    center: new kakao.maps.LatLng(latitud, longitude)    // 지도의 중심좌표
                    , level: 3    // 지도의 확대레벨
                };

                // 지도를 생성
                let map = new kakao.maps.Map(mapContainer, mapOption);

                // 마커가 표시될 위치
                let markerPosition = new kakao.maps.LatLng(latitud, longitude);

                // 마커를 생성
                let marker = new kakao.maps.Marker({ position: markerPosition });

                // 주소-좌표 변환 객체를 생성합니다
                let geocoder = new kakao.maps.services.Geocoder();

                // 주소로 좌표를 검색합니다
                // let marker = new kakao.maps.Marker
                let infowindow = new kakao.maps.InfoWindow

                function q1() {
                    marker.setMap(null);
                    infowindow.close();
                    let address = $('#input-q1').val();

                    geocoder.addressSearch(address, function (result, status) {

                        // 정상적으로 검색이 완료됐으면
                        if (status === kakao.maps.services.Status.OK) {

                            let coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                            // 결과값으로 받은 위치를 마커로 표시합니다
                            marker = new kakao.maps.Marker({
                                map: map,
                                position: coords
                            });

                            // 인포윈도우로 장소에 대한 설명을 표시합니다
                            infowindow = new kakao.maps.InfoWindow({
                                content: '<div style="width:150px;text-align:center;padding:6px 0;">' + address + '</div>'
                            });
                            infowindow.open(map, marker);

                            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                            map.setCenter(coords);

                        }

                    });

                }
                // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
                let mapTypeControl = new kakao.maps.MapTypeControl();

                // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
                // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
                map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

                // 지도에 확대 축소 컨트롤을 생성한다
                let zoomControl = new kakao.maps.ZoomControl();

                // 지도의 우측에 확대 축소 컨트롤을 추가한다
                map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
                marker.setMap(map);

            }

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(getLocation, function (error) {
                    consol.log(error.message);
                });
            } else {
                consol.log("Geolocation을 지원하지 않는 브라우저 입니다.");
            }
        });

        // 간단한 회원가입 함수입니다.
        // 아이디, 비밀번호, 닉네임을 받아 DB에 저장합니다.
        // [확인] 버튼 클릭 시 DB에 회원정보 저장

        function signup() {
            let rain_give = $("input:checkbox[name='rain']").is(":checked")
            let mise_give = $("input:checkbox[name='mise']").is(":checked")
            let heat_give = $("input:checkbox[name='heat']").is(":checked")
            let cold_give = $("input:checkbox[name='cold']").is(":checked")
            let wind_give = $("input:checkbox[name='wind']").is(":checked")

            let address_give = $('#input-q1').val()

            $.ajax({
                type: "POST",
                url: "/api/signup",
                data: {
                    id_give: $('.userid').val(), pw_give: $('.userpw').val(), nickname_give: $('.usernick').val(),
                    rain_give, mise_give, heat_give, cold_give, wind_give, address_give
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('회원가입이 완료되었습니다.')
                        window.location.href = '/login'
                    } else {
                        alert("회원가입에 실패했습니다")
                    }
                }
            })
        }

    </script>

</head>

<body>
    <div class="container">
        <div class="form">
            <div class="form-section">
                <div class="group">
                    <h3 class="heading">회원가입</h3>
                </div>
                <div class="group">
                    <input type="text" class="control usernick" placeholder="닉네임을 입력하세요">
                </div>
                <div class="group">
                    <input type="email" class="control userid" placeholder="이메일을 입력하세요">
                </div>
                <div class="group">
                    <input type="password" class="control userpw" placeholder="비밀번호를 입력하세요">
                </div>

                <div class="group control">
                    <input type="checkbox" name="rain" value="rain" class="rain" />강수량이 60%이상 일 때
                </div>

                <div class="group control">
                    <input type="checkbox" name="mise" value="mise" class="mise" /> 미세먼지가 '나쁨'일 때

                </div>

                <div class="group control">
                    <label for='heat'><input type="checkbox" name="heat" value="heat" class="heat" /> 폭염</label>
                    <label for='cold'><input type="checkbox" name="cold" value="cold" class="cold" /> 한파</label>
                    <label for='wind'><input type="checkbox" name="wind" value="wind" class="wind" /> 태풍</label>
                </div>


                <div id="map" style="width:600px;height:200px;"></div>

                <script>
                    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                        mapOption = {
                            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
                            level: 3 // 지도의 확대 레벨
                        };

                    // 지도를 생성합니다
                    var map = new kakao.maps.Map(mapContainer, mapOption);

                    // 주소-좌표 변환 객체를 생성합니다
                    var geocoder = new kakao.maps.services.Geocoder();

                    // 주소로 좌표를 검색합니다

                    var marker = new kakao.maps.Marker
                    var infowindow = new kakao.maps.InfoWindow

                    function q1() {
                        marker.setMap(null);
                        infowindow.close();
                        var address = $('#input-q1').val();

                        geocoder.addressSearch(address, function (result, status) {

                            // 정상적으로 검색이 완료됐으면
                            if (status === kakao.maps.services.Status.OK) {

                                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                                // 결과값으로 받은 위치를 마커로 표시합니다
                                marker = new kakao.maps.Marker({
                                    map: map,
                                    position: coords
                                });

                                // 인포윈도우로 장소에 대한 설명을 표시합니다
                                infowindow = new kakao.maps.InfoWindow({
                                    content: '<div style="width:150px;text-align:center;padding:6px 0;">' + address + '</div>'
                                });
                                infowindow.open(map, marker);

                                // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                                map.setCenter(coords);

                            }

                        });

                    }
                </script>

                <input id="input-q1" type="text" placeholder="예)서울특별시 종로구 혜화동"/><button onclick="q1()">검색</button>

                <div class="group m20">
                    <button onclick="signup()" class="btn">가입 완료</button>
                </div>
            </div>
        </div>
    </div>



</body>

</html>